{:deps {house.jux/prevayler-impl4 {:mvn/version "2025.09.11"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}
        org.babashka/cli {:mvn/version "0.8.62"}
        org.slf4j/slf4j-api {:mvn/version "1.6.1"}
        org.slf4j/slf4j-simple {:mvn/version "1.6.1"}}}
